<launch>
  <env name="LD_LIBRARY_PATH" value="/usr/local/cuda-8.0/lib64:$(env LD_LIBRARY_PATH)"/>
  <node pkg="dn_object_detect" type="dn_object_detect_modified" name="dn_object_detect_modified" output="screen">
    <param name="camera" type="str" value="/camera/rgb/image_raw"/>
    <param name="_image_transport" type="str" value="compressed"/>
    <!-- <param name="yolo_config" type="str" value="$(find dn_object_detect)/data/yolo_CG.cfg"/>
    <param name="yolo_model" type="str" value="$(find dn_object_detect)/datasets/CG_dataset/yolo_CG.weights"/>
    <param name="class_names" type="str" value="$(find dn_object_detect)/data/yolo_CG.names"/> -->
    <param name="yolo_config" type="str" value="$(find dn_object_detect)/data/yolo.cfg"/>
    <param name="yolo_model" type="str" value="$(find dn_object_detect)/data/yolo.weights"/>
    <param name="class_names" type="str" value="$(find dn_object_detect)/data/coco.names"/>
    <param name="threshold" type="double" value="0.4"/>
  </node>

  <!-- rviz -->
  <arg name ="rviz" default="true" />
  <arg name ="rviz_file" default="$(find dn_object_detect)/config_rviz/yolo_disp.rviz"/>
  <node pkg ="rviz" type="rviz" name="rviz" output="screen" args = "-d $(arg rviz_file)" if="$(arg rviz)"/>
  
  <include file="$(find openni2_launch)/launch/openni2.launch"/>
  <!--node pkg="usb_cam" type="usb_cam_node" name="usb_cam_node" output="screen" /-->  	
</launch>
